{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center">Login</h1>

    <div class="card mx-auto" style="max-width: 400px;"> <!-- Centered card -->
        <div class="card-body">

            {% if loginForm.vars.errors|length > 0 %}
                    <ul class="list-unstyled alert alert-danger"> <!-- Adjusted padding -->
                        {% for error in loginForm.vars.errors %}
                            <li>{{ error.message }}</li>
                        {% endfor %}
                    </ul>
            {% endif %}

            {{ form_start(loginForm) }}

            <div class="mb-3"> <!-- Bootstrap margin-bottom class -->
                {{ form_label(loginForm.email) }}
                {{ form_widget(loginForm.email, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-3"> <!-- Bootstrap margin-bottom class -->
                {{ form_label(loginForm.password) }}
                {{ form_widget(loginForm.password, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group text-end">
                <button type="submit" class="btn btn-primary w-25">Login</button>
            </div>

            {{ form_end(loginForm) }}

        </div>
    </div>
</div>

{% endblock %}
