{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">Create an Account</h1>
        <div class="card mx-auto" style="max-width: 400px;">
            <div class="card-body">
               {{ form_errors(registrationForm.password) }}
        {% if registrationForm.vars.errors|length > 0 %}
                     <ul class="list-unstyled alert alert-danger"> <!-- Adjusted padding -->
                        {% for error in registrationForm.vars.errors %}
                            <li>{{ error.message }}</li>
                        {% endfor %}
                    </ul>
        {% endif %}
                {{ form_start(registrationForm) }}
                <div class="mb-3">
                    {{ form_label(registrationForm.firstName) }}
                    {{ form_widget(registrationForm.firstName, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="mb-3">
                    {{ form_label(registrationForm.lastName) }}
                    {{ form_widget(registrationForm.lastName, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="mb-3">
                    {{ form_label(registrationForm.email) }}
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="mb-3">
                    {{ form_label(registrationForm.password) }}
                    {{ form_widget(registrationForm.password, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group text-end">
                    <button type="submit" class="btn btn-primary w-25">Register</button>
                 </div>
                
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}